.sixtyfour-convergence-font {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }


  .a-dialog-allow-button {
    color: black;
    background-color: rgb(135, 255, 0);
  }
  
  .a-dialog-deny-button {
    color: white;
    background-color: rgb(22, 22, 22);
  }
  
  .a-dialog-ok-button {
     color: black;
     background-color: rgb(153, 255, 0);
   }
